@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    font-family: monospace
}
.top-80 {
    top: 80% !important;
}
.start-80{
    left: 80% !important;
}
.start-120{
    left: 120% !important;
}
.top-90 {
    top: 90% !important;
}
#listado {
    height: 300px;
}

.start-90{
    left: 90% !important;
}